body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://1.bp.blogspot.com/-k3rtzfw-l4I/YU0SLCYg3BI/AAAAAAAABuw/Tq4H0_oSUg8NrGJAOyefbwP81v9EXrMmwCLcBGAsYHQ/s16000/Screenshot%2B%2528797%2529.jpg ");
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-form {
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 30%;
    transition: all 0.4s ease;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
form>label{
    width: 78%;
}
.login-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 20px;
}

.login-form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    background-color: rgba(216, 212, 212, 0.211);
}
input{
    transition: all 0.4s ease;
}
input::placeholder{
    color: white;
}
input:focus{
    background-color: rgba(216, 212, 212, 0.513);
    border: 2px solid rgba(0, 21, 255, 0.685);
}
.login-form button {
    width: 50%;
    padding: 10px;
    background-color: #0059b3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #004080;
}
.login-form:hover{
    transform: scale(1.01);
    box-shadow: 1px 2px 53px 15px rgba(16, 23, 101, 0.769);
}